<div id="perspective">
  <div id="cube">
    <div class="face one">
      <div class="prize"><img src="/assets/question-mark.png"></div>
    </div>
    <div class="face two">
      <div class="prize"><img src="/assets/ducati.jpg"></div>
    </div>
    <div class="face three">
      <div class="prize"><img src="/assets/question-mark.png"></div>
    </div>
    <div class="face four">
      <div class="prize"><img src="/assets/question-mark.png"></div>
    </div>
    <div class="face five">
      <div class="prize"><img src="/assets/question-mark.png"></div>
    </div>
    <div class="face six">
      <div class="prize"><img src="/assets/question-mark.png"></div>
    </div>
  </div>
</div>
